.summary {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 30%;
}
.wrapper {
  width: 75%;
}
.summary h4 {
  padding-bottom: 1rem;
}
.bill-section {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.sub-head {
  margin-right: 2rem;
}
.pri {
  color: #b12704;
}
.tag-double {
  font-size: 1.1rem;
  color: #b12704;
}
