.card {
  border-color: transparent;
  transition: all 1s linear;
  width: 18rem;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  /* background: rgba(0, 0, 0, 0.7); */
  background: steelblue;
}

.card-footer {
  background: #333;
  color: #fff;
  transition: all 1s linear;
}
.card:hover {
  border: 0.05rem solid rgba(0, 0, 0, 0.2);

  /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2); */
}

.card-footer:hover {
  color: #333;
  background: #fff;
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding: 3rem;
}
.card-img-top {
  transition: all 1s linear;
}
.img-container:hover .card-img-top {
  transform: scale(1.2);
}
.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.6rem;
  background: #333;
  color: green;
  border: none;
  outline: none;
  font-size: 1.3rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all 1s linear;
}
.cart-btn:hover {
  color: white;
  background: green;
  transition: 0.5s all ease;
}
.img-container:hover .cart-btn {
  transform: translate(0, 0);
  cursor: pointer;
}
